/* Style pour le Menu */
#Menu {
    display: flex;
    height: 100vh;
    width: 100%;
    /*background-image: url('../assets/Background.jpg'); !* Ajout de l'image de fond *!*/
    background-size: cover;
    background-position: center;
}

#LeftPane {
    width: 30%; /* Laisser un espace pour l'image sur la gauche */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#TankSprite {
    width: 1000px; /* Taille du sprite */
    position: absolute;
    animation: moveTank 3s infinite alternate ease-in-out; /* Animation de va-et-vient */
    z-index: -1;
}

/* Animation du tank */
@keyframes moveTank {
    0% {
        transform: translateX(0);
    }
    100% {
        /*animation qui tourne aussi*/
        transform: translateX(1000px) rotate(40deg); /* Le tank se déplace et tourne légèrement */
        transform: rotateY(180deg);
    }
}

/* Le reste des styles */
#Bloc {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 20px;
    margin: 0 50px;
}

#Bloc > button {
    background-color: #FF4C68;
    color: white;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#Bloc > button:hover {
    background-color: #FF6A85;
    transform: scale(1.05);
}

.animated-title {
    font-size: 2.5em;
    color: #FFF;
    margin-bottom: 20px;
}

.settings-info {
    font-size: 1.2em;
    color: #FFF;
}
